@use './variables' as let;

.article
{
    // 파트 1
    &__part1
    {
        width: 55%;
        height: 60%;
        float: left;
        background-image: url("../images/desktop-image-hero-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        //outline: 1px solid yellowgreen;
        @include let.Tablet
        {
            width: 100%;

        }
        @include let.Mobile
        {
            background-image: url("../images/mobile-image-hero-1.jpg");
            width: 100%;
        }
    }
}



.nav
{
    &__mobile
    {
        display: none;
        position : absolute;

        top : 4rem;
        left : 2rem;

        cursor: pointer;
        @include let.Tablet
        {
            display: inline-block;
        }
        @include let.Mobile
        {
            display: inline-block;
        }
    }
    &__desktop
    {
        display: flex;

        justify-content: space-between;
        align-items: center;
        gap : 4rem;

        padding : 4em 4em 4em 0;

        @include let.Tablet
        {
            display: none;
        }
        @include let.Mobile
        {
            display: none;
        }
    }
    &__gnb
    {
        float : left;

        &--none
        {
            display: none;
        }
    }

    &__list
    {
        font-size: 1em;
        text-transform: lowercase;
        color : white;

        & > a
        {
            position : relative;
            color : inherit;

            &::before
            {
                content: '';
                width: 0%;
                height: 3px;
                position : absolute;

                background-color: white;
                border-radius: 5px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                outline: none;
                border: none;

                bottom : -1rem;
                right : 49%;

                transition: width .5s ease;
            }
            &::after
            {
                content: '';
                width: 0%;
                height: 3px;
                position : absolute;

                background-color: white;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                outline: none;
                border: none;
                bottom : -1rem;
                left : 49%;

                transition: width .5s ease;
            }

            &:hover::before,
            &:hover::after
            {
                width: 50%;
            }

        }
    }
}