

$primary-darkGray : hsl(0,0%,63%);
$primary-black : hsl(0,0%,0%);
$primary-white : hsl(0,0%,100%);
$primary-veryDarkGray : hsl(0,0%,27%);

$typography-fontsize : 12px;

@mixin Desktop
{
    @media screen and (max-width: 1440px) and (min-width: 1000px)
    {
        @content;
    }
}
@mixin Tablet
{
    @media screen and (max-width: 999px) and (min-width: 600px) {
        @content;
    }
}
@mixin Mobile
{
    @media screen and (max-width: 599px) {
        @content;
    }
}