@use './variables' as let;
.article
{
    &__part2
    {
        width: 45%;
        height: 60%;
        float : left;
        position : relative;
        @include let.Tablet
        {
            width: 100%;
            height: 45%;
        }
        @include let.Mobile
        {
           width: 100%;
            height: 45%;
        }
    }
}

.svg
{
    &__arrow
    {
        transition: fill .4s ease;
    }
}
.button
{
    &__container
    {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        @include let.Tablet
        {
            top : calc(-2.6rem + -5.8vmin);
            right : 0;

        }
        @include let.Mobile
        {
            top : calc(-2.6rem + -5.8vmin);
            right : 0;
        }
    }
    &__prev,
    &__next
    {
        font-size: 2.4rem;
        padding : 2.8vmin 3vmin ;
        margin : 0;

        background-color: let.$primary-black;
        color : let.$primary-darkGray;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover
        {
            background-color: let.$primary-veryDarkGray;
        }
    }
}