@use './variables' as let;
.article
{
    &__part3
    {
        width: 100%;
        height: 40%;
        display: flex;

        overflow: hidden;

        @include let.Tablet
        {
            flex-direction: column;
            height: auto;
        }
        @include let.Mobile
        {
            flex-direction: column;
            height: auto;
        }
    }
    &__background
    {
        float: left;
        width: 25%;
        & > img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include let.Tablet
        {
            flex-direction: column;
            width: 100%;
        }
        @include let.Mobile
        {
            flex-direction: column;
            width: 100%;
        }
    }
}

.section
{
    &__container
    {
        float: left;
        width: 50%;
        @include let.Tablet
        {
            width: 100%;
        }
        @include let.Mobile
        {
            width: 100%;
        }
    }

    &__title
    {
        padding: 8rem 6rem 0 6rem;
        font-size: 1.6em;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: 900;
        color : let.$primary-black;
        @include let.Desktop
        {
            padding: 6rem 6rem 0 6rem;
        }
        @include let.Tablet
        {
            padding: 4rem 3rem 0 4rem;
        }
        @include let.Mobile
        {
            padding: 4rem 2rem 0 4rem;
        }
    }

    &__description
    {
        padding: 2rem 6rem 0 6rem;
        font-size: 1em;

        line-height: 1.5;
        color : let.$primary-darkGray;
        @include let.Desktop
        {
            padding: 6rem 6rem 0 6rem;
        }
        @include let.Tablet
        {
            padding: 4rem 3rem 4rem 4rem;
        }
        @include let.Mobile
        {
            padding: 4rem 2rem 4rem 4rem;
        }
    }
}